
<h2>Hi Admin,</h2>

<h4>The Following Subscription has been changed from Active to Pending</h4>
<br><br>
SUB_ID:  {{sub_id}}<br>
USER_ID:  {{user_id}}<br>
PRACTICE_ID:  {{practice_id}}<br>
CLINIC_NAME:  {{practice_details.name}}