
<h2>Hi Dr.{{username}},</h2>

<h4>You just requested a password reset link on AnimApp. If this was not you, you can safely ignore this.</h4>
<br><br>
<a href={{link}}/reset?token={{token}}>
CLICK HERE TO RESET YOUR PASSWORD <br>
</a>

<br><br>
<h4>Kind regards,<br>
AnimApp Team
</h4>
