
<h2>Hey Team,</h2>

<h4>We got a enquiry from Tail. Kindly find the enquiry details below.</h4>
<br><br>
<h3>Enquiry Details</h3>
<strong>From         :</strong> {{content.from}} <br>
<strong>Parent Name  :</strong> {{parentName}} <br>
<strong>Mobile.No    :</strong> {{mobile_no}} <br>
<strong>Mail content :</strong> {{content.text}} <br>

<br><br>
<h4>Kind regards,<br>
AnimApp Team
</h4>
