<h2>Hi {{username}},</h2>

<h4>This is to verify your email-id</h4>
<br><br>

<a href={{link}}/login?token={{token}}>
CLICK HERE TO VERIFY YOUR EMAIL-ID 
<br>
</a>
Initial Password: {{password}}

<br><br>
<h4>Kind regards,<br>
AnimApp Team
</h4>