
<h2>Hey Team,</h2>

<h4>We got a enquiry from AnimApp. Kindly find the enquiry details below.</h4>
<br><br>
<h3>Enquiry Details</h3>
<strong>Name     :</strong> {{name}} <br>
<strong>Email-Id :</strong> {{email}} <br>
<strong>Mobile.No:</strong> {{mobile}} <br>
<strong>Message  :</strong> {{message}} <br>

<br><br>
<h4>Kind regards,<br>
AnimApp Team
</h4>
